# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/latest/usage/project/#working-with-version-control
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# Relative file path to ignore git tracking
data-cleaning-1.ipynb
reddit_mental_health_data
mental_health_data.csv
tokenized_and_lemmatized_train_data.parquet
tokenized_and_lemmatized_test_data.parquet
bert_classification.ipynb
parallel_bert_classification.ipynb
mps_parallel_bert_classification.ipynb
processed_data.parquet
processed_data_parallel.parquet
processed_data_mps_parallel.parquet
mentalhealth/bert_model_training_testing.py
mentalhealth/parallel_bert_model_train_test.py
mentalhealth/mps_parallel_bert_model_train_test.py
mentalhealth/optimized_mps_parallel_bert_train_test.py
optimized_mps_parallel_bert_classification.ipynb
mentalhealth/optim_mps_paralle_bert_train_test_with_onnx.py
optim_mps_parallel_bert_classification.ipynb
optim_mps_huggingface_trainer_bert_classification.ipynb
mentalhealth/optim_mps_huggingface_trainer_bert_train_test_onnx.py
mentalhealth/improved_optim_mps_hug_bert_train_test.py
improved_optim_mps_hug_bert_classification.ipynb
processed_data_optim_mps_parallel.parquet
processed_data_optim_mps.parquet
distilbert_model_apr15.onnx
distill_bert_model_Apr20.onnx
processed_data_better_optim.parquet
all-MiniLM-L6-v2_model_apr21.onnx
all-MiniLM-L6-v2_model_apr22.onnx
CF_BERT_1.png
CF_DistillBERT.png
CF_BERT_SAMPLE2.png
SampleData_CF_BERT.png
mentalhealth/better_optim_mps_huggingface_trainer_bert_train_test_onnx.py
better_optim_mps_huggingface_trainer_bert_classification.ipynb
checkpoints
lightning_logs
mentalhealth/__pycache__
preprocess/preprocessed_input.parquet
onnx/model.onnx
roberta_trainer_bert_classification.ipynb
mentalhealth/roberta_trainer_bert_train_test_onnx.py
preprocessed_input_sample.parquet
preprocessed_input.parquet
mentalhealth/roberta_mini_pipeline.py
mentalhealth/roberta_mini.py
mentalhealth/roberta_modified_pipeline.py
mentalhealth/roberta_refactored_pipeline.py
onnx/distilroberta_modified_model.onnx
preprocess/preprocessed_input_changed.npz
preprocessed
cache
roberta_mini.ipynb
bert_tiny.ipynb
CF_BERT_Tiny_Final_Apr26.png
CF_TinyBERT_Apr25.png
CF_TinyBERT.png
onnx/bert_tiny_model_6_hour_trained.onnx
onnx/bert_tiny_model_3_hour_trained.onnx
mentalhealth/bert_tiny.py