
# Relative file path to ignore git tracking
data-cleaning-1.ipynb
reddit_mental_health_data
mental_health_data.csv
tokenized_and_lemmatized_train_data.parquet
tokenized_and_lemmatized_test_data.parquet
bert_classification.ipynb
parallel_bert_classification.ipynb
mps_parallel_bert_classification.ipynb
processed_data.parquet
processed_data_parallel.parquet
processed_data_mps_parallel.parquet
mentalhealth/bert_model_training_testing.py
mentalhealth/parallel_bert_model_train_test.py
mentalhealth/mps_parallel_bert_model_train_test.py
mentalhealth/optimized_mps_parallel_bert_train_test.py
optimized_mps_parallel_bert_classification.ipynb
mentalhealth/optim_mps_paralle_bert_train_test_with_onnx.py
optim_mps_parallel_bert_classification.ipynb
optim_mps_huggingface_trainer_bert_classification.ipynb
mentalhealth/optim_mps_huggingface_trainer_bert_train_test_onnx.py
mentalhealth/improved_optim_mps_hug_bert_train_test.py
improved_optim_mps_hug_bert_classification.ipynb
processed_data_optim_mps_parallel.parquet
processed_data_optim_mps.parquet
distilbert_model_apr15.onnx
distill_bert_model_Apr20.onnx
processed_data_better_optim.parquet
all-MiniLM-L6-v2_model_apr21.onnx
all-MiniLM-L6-v2_model_apr22.onnx
CF_BERT_1.png
CF_DistillBERT.png
CF_BERT_SAMPLE2.png
SampleData_CF_BERT.png
mentalhealth/better_optim_mps_huggingface_trainer_bert_train_test_onnx.py
better_optim_mps_huggingface_trainer_bert_classification.ipynb
checkpoints
lightning_logs
mentalhealth/__pycache__
preprocess/preprocessed_input.parquet
onnx/model.onnx
roberta_trainer_bert_classification.ipynb
mentalhealth/roberta_trainer_bert_train_test_onnx.py
preprocessed_input_sample.parquet
preprocessed_input.parquet
mentalhealth/roberta_mini_pipeline.py
mentalhealth/roberta_mini.py
mentalhealth/roberta_modified_pipeline.py
mentalhealth/roberta_refactored_pipeline.py
onnx/distilroberta_modified_model.onnx
preprocess/preprocessed_input_changed.npz
preprocessed
cache
roberta_mini.ipynb
bert_tiny.ipynb
CF_BERT_Tiny_Final_Apr26.png
CF_TinyBERT_Apr25.png
CF_TinyBERT.png
onnx/bert_tiny_model_6_hour_trained.onnx
onnx/bert_tiny_model_3_hour_trained.onnx
mentalhealth/bert_tiny.py